body {
  background-color: #ff6699;
  font-family: 'IBM Plex Sans',sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
}


/* Modal Styles */

.pokemon-name,
.modal-title,
.pokemon-type,
.pokemon-ability {
  text-transform: capitalize;
}

.pokemon-type,
.pokemon-height,
.pokemon-ability,
.pokemon-weight {
  text-align: left;
}

.img-fluid {
  margin-bottom: 30px;
}

/* NavBar Styles */
.navbar {
  margin-bottom: 20px;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* List Styles */

.unstyled-list {
  padding: 0;
}

.list-group-item {
  border: none;
  background-color: transparent;
}

/* Button Styles */
.button-styles {
  background-color: whitesmoke;
  color: black;
  text-transform: capitalize;
  width: 100%;
}
